# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/.suo
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/Browse.VC.db
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/DocumentLayout.json
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/Solution.VC.db
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/.suo
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/Browse.VC.db
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/DocumentLayout.json
Chapter02_Data Structure1/.vs/Chapter02_Data Structure1/v17/Solution.VC.db
